main {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border: 5px solid #4285f4;
  width: 200px;
  margin: 50px;
}

.grey {
  background: grey;
  color: white;
  padding: 15px;
}

.green {
  background: green;
  color: white;
  padding: 15px;
}

.red {
  background: red;
  color: white;
  padding: 15px;
}

.blue {
  background: blue;
  color: white;
  padding: 15px;
}

p {
  margin: auto;
}